    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li class="active"><a href="#">About</a></li>
        	<li><a id="bar" href="#">2015 Ratings</a></li>
            <li><a id="pie" href="#">Sales Ratio</a></li>
            <li><a id="model" href="#">Compare Models</a></li>
            <li><a id="sankey" href="#">Over Years</a></li>
            <li><a id="bubble" href="#">Top Rated Cars</a></li>        
        </ul>
        
    
    