<!DOCTYPE HTML><html>
<head>
    <% include head.ejs%>
</head>
<body>
    <% include header.ejs%>
    <img style="margin-bottom:10px; align-self:center" class="active visible-lg img-responsive" src="/../images/bmw.jpg" />
    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li><a href="/" id="abt">About</a></li>
        	<li><a id="bar" href="#">2015 Ratings</a></li>
            <li><a id="pie" href="#">Sales Ratio</a></li>
            <li><a id="model" href="#">Compare Models</a></li>
            <li class="active"><a id="sankey" href="#">Over Years</a></li>
            <li><a id="bubble" href="#">Top Rated Cars</a></li>   
            
                 
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active">
                <h2>Analyse Drive types released over the years 2011-15</h2>
                <div id="container" style="min-width: 310px; width: 700px; height: 400px; margin: 0 auto"></div>
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->
    
        
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["sankey"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'From');
        data.addColumn('string', 'To');
        data.addColumn('number', 'Num of Models');
        data.addRows([
          [ '2011', 'Rear-Wheel Drive', 56 ],
          [ '2012', 'Rear-Wheel Drive', 59 ],
          [ '2013', 'Rear-Wheel Drive', 67 ],
          [ '2014', 'Rear-Wheel Drive', 57 ],
          [ '2015', 'Rear-Wheel Drive', 68 ],
          [ '2011', 'All-Wheel Drive', 28 ],
          [ '2012', 'All-Wheel Drive', 26 ],
          [ '2013', 'All-Wheel Drive', 33 ],
          [ '2014', 'All-Wheel Drive', 41 ],
          [ '2015', 'All-Wheel Drive', 53 ]
        ]);

        // Sets chart options.
        var options = {
          width: 600,
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('container'));
        chart.draw(data, options);
      }
    </script>
    <% include footer.ejs%>
</body>
</html>